*{
    box-sizing: border-box;
}


body {
    margin: 0;
    height: 100vh;
}

.container{ 
    display: flex;
    flex-direction: column;
    background: url(https://images.unsplash.com/photo-1459233313842-cd392ee2c388?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 10vh;
    padding: 4%;
}

#score {
    display: flex;
    color: black;
    /* background-color: yellow; */
    font-size: 400%;
    width: 30%;
    height: 30%;
    font-family: 'Reenie Beanie', cursive;
}

#proceed {
    font-size: 200%;
    background-color: transparent;
    padding: 10px;
    border-radius: 15%; 
    border-color: black;
    font-family: 'Reenie Beanie', cursive;
}

#play-button {
    display: flex;
    font-size: 200%;
    background-color: transparent;
    padding: 10px;
    border-radius: 15%; 
    border-color: black;
    font-family: 'Reenie Beanie', cursive;

}

.guessbuttons {
    height: 250px;
    background-color: seagreen;
    width: 100vh;
}

.renderbuttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 12.5px 25px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    }
 .button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
    }
 .button:active {
    border-top-color: #1b435e;
    background: #1b435e;
    }