*{
    box-sizing: border-box;
}


body {
    margin: 0;
    height: 100vh;
}

.container{ 
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background: url(https://images.unsplash.com/photo-1459233313842-cd392ee2c388?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    background-color: #6B6B6B;
    background: rgba(255,255,255,0.5);

}

h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 10vh;
    width: 40%;
    height: 10%;
    padding-left: 3%;

}

ul {
    font-family: 'Reenie Beanie', cursive;
    font-size: 5vh;
}
.play-proceed{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 66%;
}

#start-game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 25%;
    margin-left: 20%;
    margin-top: 3%;

}

#start-button {
    width: 50%;
    height: 50%;
    font-size: 200%;
    background-color: transparent;
    padding: 10px;
    border-radius: 15%; 
    border-color: black;
    font-family: 'Reenie Beanie', cursive;
}
/* we can use this as a temporary class to toggle on and off */
.hide { 
    display : none
}


.buttons {
    display: flex;
    justify-content: space-around;
    width: 35%;
    height: 35%;
    
}

.renderbuttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    height: 60%;

}

#score {
    display: flex;
    color: black;
    font-size: 10vh;
    width: 20%;
    height: 20%;
    margin: 10px;
    font-family: 'Reenie Beanie', cursive;
}


#start-button:hover {
    background: #28597a;
    opacity: 0.3;
}


#proceed {
    font-size: 200%;
    background-color: transparent;
    padding: 10px;
    border-radius: 15%; 
    border-color: black;
    font-family: 'Reenie Beanie', cursive;
}

#proceed:hover {
    background: #28597a;
    opacity: 0.3;
    }

#play-button {
    font-size: 200%;
    background-color: transparent;
    padding: 10px;
    border-radius: 15%; 
    border-color: black;
    font-family: 'Reenie Beanie', cursive;

}

.playButtonFlash {
    background-color: rgba(188, 6, 6, 0.48);
}

#play-button:hover {
    background: #28597a;
    opacity: 0.3;
    }

.guessbuttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
}

#restart {
    margin-left: 30%;
}

button {
    font-family: 'Reenie Beanie', cursive;
    font-size: 200%;
    background-color: transparent;
    padding: 10px;
    border-radius: 15%; 
    border-color: black;
}

button:hover{
    background: #28597a;
    opacity: 0.3;
}


.button {
    background: #37586A;
    opacity: 0.3;
    padding: 12.5px 25px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 15px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 40px;
    font-family: 'Reenie Beanie', cursive;
    text-decoration: none;
    width: 100%;
    height: 20%;
    text-align: center;
    margin: 2%;
    }
 .button:hover {
    background: #28597a;
    color: black;
    }
 